.Detail-Product{
    margin-top: 150px;
    width: 100%;
    height: auto;
}

.Books_Info-container{
    margin: 0px 90px 0px 150px;
    display: block;
}

.Detail-Product-container
{
    width: 80% ;
    margin-top: 150px;
    height: auto;
    display: flex;
}

.book-image-detial{
    border-radius: 10px;
    border: 3px solid #436851;
    width: 245px;
    height: 315px;
}

.Info{
    margin-left: 60px;
    display: block;
    width: 40% ;
    height: auto;
}

.Info p{
    margin-top: 15px;
    font-size: 20px;
}

.title-book{
    font-size: 35px;
}

.buttom-bar{
    display: flex;
}

.buttom-bar button{
    border-radius: 8px;
    width: 70px;
    height: auto;
    justify-items: center;
    align-items: auto;
    margin: 40px 30px 10px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.buttom-bar button:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.buttom-cart{
    padding-right: 4px;
}

.buttom-heart{
    padding-top: 6px;
}

.buttom-buynow{
    background: #436850;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.buttom-buynow:hover{
    background-color: #527961 ;
}

.Synopsis{
    margin-top: 30px;
    display: block;
    width: 100% ;
    height: auto
}