
.Bg-sign-in {
  background-color: #00000071;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.forget-container {
  margin: 10% auto;
  max-width: 350px;
  width: 100%;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f5f4f0;
}

.forget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.forget-subtitle {
  font-size: 17px;
  text-align: left;
}

.forget-input,
.forget-input2 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.forget-button{
  width: 72px; /* Adjusted width */
  height: 45px;
  padding: 10px; /* Equal padding */
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}


.forget-button2 {
  width: 72px; /* Adjusted width */
  height: 45px;
  padding: 10px; /* Equal padding */
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.forget-button {
  color: #000;
  background-color: #fff;
}

.forget-button2 {
  background-color: #3c6d4c;
  color: #fff;
}

.forget-button:hover,
.forget-button2:hover {
  background-color: #ADBC9F;
}

.forget-options {
  font-size: 10px;
  width: auto;
  height: 30px;
  margin-top: 20px;
}

.forget-link {
  color: #436850;
  text-align: right;
}

.forget-link:hover {
  text-decoration: underline;
  text-align: right;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.forget-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
