.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.nav_container
{
    display: flex;
    height: 105px;
    background-color: rgb(241, 241, 241);
    border-bottom: 2px solid #436850;
}

.logo{
    display: block;
    width: 145px ;
    height: 85px;
    display: flex;
    padding: 10px 0px 10px 40px ; 
    margin-left: 40px; 
}

.logo img {
    width: 85px ;
    height: 85px ;
    border-radius: 50%;
}

.menu{
    width: 150px ;
    height: 32px;
    display: flex;
    padding: 37px 0px 35px 30px;
    margin-left: 20px;
    margin-right: 30px;
}

h1{
    display: flex;
    width: 120px;
    font-family: Georgia, serif;
    font-size: 16px;
    color:#436850;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.App-search{
    width: 750px;
    display: flex;
    align-items: center;
    padding: 35px;
    margin-top: 15px;
    margin-left: 40px;
}

input {
    width: 100%;
    display: flex;
    border: 2px solid #436850;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.Sign-in .sign-in-button{
 display: flex;
 height: 50px;
 justify-content: center;
 align-items: center;
 color: white;
 padding: 15px;
 margin: auto 0px auto 30px;
 text-align: center;
 font-size: 16px;
 background-color: #436850;
 border: none;
 border-radius: 10px;
}

.Sign-up .sign-up-button{
display: flex;
height: 50px;
justify-content: center;
align-items: center;
color: #436850;
padding: 15px;
margin: auto 10px auto 20px;
text-align: center;
font-size: 16px;
border-radius: 10px;
border: 2px solid #436850;
background-color: #ffffff;
}

.Sign-in {
 display: flex;
 width: 180px;
 align-items: center;
 margin: 0px 10px 0px 20px;
}

.sign-in-button:hover {
    background-color: #ADBC9F;
}

.Sign-up {
 display: flex;
 width: 250px;
 align-items: center;
 margin-right: 30px;
}

.sign-up-button:hover {
    background-color: #ADBC9F;
}