.Bg-sign-up{
    background-color: #00000071;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0 ;
}

.sign-up-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 330px;
    margin: 0 auto;
    width: 450px;
    height: 600px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
}

.cross-logo-signUp
{
    margin-top: 550px;
}

.login-logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
    margin: 0 auto; /* Adjust the margin as needed */
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
}

.form-group input
{
    display: block;
    align-items: center;
    justify-content: center;
}

.form-group label::after {
    content: "*"; /* เพิ่มเครื่องหมาย * หลังข้อความ */
    color: #ADBC9F; /* กำหนดสีของเครื่องหมาย * เป็นสีแดง */
}


label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="email"],
input[type="name"],
input[type="password"] {
    display: flex;
    width: 360px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1px;
}

.SignIn {
    display: flex;
    justify-content: left;
    padding-top: none;
    margin-top: -2.75%;
    font-size: 14px;    
}

.login-link {
    color: #436850; 
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline; /* เมื่อเอาเม้าส์ไปชี้ที่ลิงก์ ให้มีขีดเส้นใต้ข้อความ */
    color: #12362a;
}

button {
    background-color: #436951; /*436951*/
    color: #fff;
    padding: 10px 150px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: none;
}

button:hover {
    background-color: #12362a;
}

.sign-up-title {
    font-size: 20px;
    margin-bottom: 2px;
    text-align: center;
}